@import url("bootstrap.css");

/* Home */

.image1 {
  border-radius: 50px;
  box-sizing: 3px;
}
#showcase {
  background: url(./images/piz10.jpeg) no-repeat center center/cover;
  height: 87.8vh;
}
.showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./images/piz10.jpeg) no-repeat center center/cover;
  color: #fff;
}
.showcase-content h1 {
  font-size: 4rem;
  margin-bottom: -3rem;
}
.showcase-content .btn {
  font-size: 1.5rem;
  padding: 1rem 10rem;
  transition: color 0.3s;
}
.showcase-content .btn:hover {
  background: #3693ff;
  color: #fff;
}
.btn {
  color: #3693ff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #3693ff;
  border-radius: 10px;
  font-weight: bold;
}

/* About us */

#Aboutus h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
p {
  text-align: center;
  font-size: 10px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

#aboutus span {
  font-weight: bolder;
}

/* Services */

.services {
  background-image: url(./images/logo.jpeg) no-repeat center center/cover;
  height: 300px;
  color: #fff;
}
#service {
  position: relative;
  text-align: center;
  top: 48px;
}

/* What we do */

.icons h5 {
  text-align: center;
  font-size: 30px;
}
.icons h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 5%;
  margin-left: -5%;
}
.icons img {
  margin-top: 20%;
  margin-left: 40%;
}

/* Portfolio */

h3 {
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  border: 3px solid white;
  display: none;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  color: weight;
}

.imagehover:hover {
  opacity: 0.3;
}



/* Gallery */

#photos {
    padding: 3em 2em;
  }
  .col-md-4 {
    position: relative;
  }
  #photos img {
    width: 200px;
    height: 10em;
    margin: 2em 0;
    border-radius: 2em;
    transition: transform 2s ease-in-out;
  }
  #photos img:hover {
    opacity: 0.8;
    transform: scale(1.15);
  }
  
  #photos h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    color: red;
    display: none;
    font-size: 5em;
  }
  #photos .col-md-4:hover h2 {
    display: block;
  }
  
/* Contact us */

.contacts {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  background-image: url("./images/logo.jpeg");
  color: white;
}
.contacts h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}
.form-control {
  color: #ffffff;
  font-size: 16px;
  text-decoration-color: white;
  text-decoration: white;
}
#text {
  width: 20%;
  height: 160px;
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  top: 2em;
  left: 3em;
  display: none;
  color: white;
  font-size: 30px;
}

#Name,
#Email,
#Message {
  color: white;
  background-color: #ffffff;
}
input,
textarea {
  color: white;
}

#placeholder {
  color: white;
}



/* Form */

#form {
    padding: 3em 2em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 65vh;
    background-image: url("./images/piz8.jpeg");
    color: white;
  }
  
  #form h1 {
    color: red;
  }
  .form {
    background-color: black;
    opacity: 0.6;
    padding: 2em 1em;
    height: 68em;
    padding: 3em 2em;
    /* background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 65vh;
    background-image: url("./images/piz8.jpeg");
    color: white; */
  }
  .form h3 {
    color: red;
  }
  .form p {
    color: white;
    font-size: 2em;
  }
  .form button {
    background-color: red;
    font-size: 3em;
  }
  .iframe {
    padding: 2em 1em;
    height: 60em;
    background-color: white;
  }
  .iframe iframe {
    height: 40em;
  }
  
/* Glyphicons */



  /* Footer */
  .bottom {
    background-color:#00264d;
    font-size: 20px;
  }
  footer{
    padding:0.5rem;  
  }
  footer p{
    text-align:center;
  }
  #socialmedia {
    text-align: center;
  }
