@import url("bootstrap.css");

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  .landingtext > h1 {
    font-size: 9vw;
  }
  footer {
    height: 30vh;
    font-size:5vw;
    
  }
}

*body {
    font-family: "Indie Flower";
    font-size: 100%;
    background: url("/images/piz2.jpeg");
    background-attachment: fixed;
    background-image: url(images/wood.jpeg);
  }

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 1.5rem 8rem;
    position: relative;
    top: 0;
    z-index: 1;
    border-bottom: 0px solid 3693ff;
    text-align: center;
  }
  
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  
  }
  #navbar h2 a {
    color: #fff;
    text-decoration: none;
  }
  #navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
    
  }
  #navbar li a:hover {
    background-color: #3693ff;
  }
  
  
  /* home button */

  #btn{
    justify-content: center;
    display: flex;
    margin-left: 40%;
    margin-top: 15%;
    padding: 20px 40px;
    font-size: 30px;

}
#btn:hover{
    background-color: orange;
    color:white;
}

/* Home */

.image1 {
  border-radius: 50px;
  box-sizing: 3px;
}
#showcase {
  background: url(./images/pi1.jpeg) no-repeat center center/cover;
  height: 87.8vh;
}
.showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./images/piza1.jpeg) no-repeat center center/cover;
  color: #fff;
}
.showcase-content h1 {
  font-size: 4rem;
  margin-bottom: -3rem;
}
.showcase-content .btn {
  font-size: 1.5rem;
  padding: 1rem 10rem;
  transition: color 0.3s;
}
.showcase-content .btn:hover {
  background: #3693ff;
  color: #fff;
}
.btn {
  color: #3693ff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #3693ff;
  border-radius: 10px;
  font-weight: bold;
}

/* About us */

#Aboutus h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
p {
  text-align: center;
  font-size: 10px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

#aboutus span {
  font-weight: bolder;
}

/* Services */

.services {
  background-image: url(./images/piz2.jpeg) ;
  height: 300px;
  color: #fff;
}
#service {
  position: relative;
  text-align: center;
  top: 48px;
}


/* Gallery */

.btn {
  color: #3693ff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #3693ff;
  border-radius: 10px;
  font-weight: bold;
}
#photos {
    background-image: url(images/wood.jpeg);
  }
  .col-md-4 {
    position: relative;
  }
  #photos img {
    width: 300px;
    height: 15em;
    margin: 2em 0;
    transition: transform 2s ease-in-out;
  }
  #photos img:hover {
    opacity: 0.8;
    transform: scale(1.15);
  }
  
  #photos h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    color: white ;
    font-weight: bolder;
    display: none;
    font-size: 2.5em;
  }
  #photos .col-md-4:hover h2 {
    display: block;
  }
  .btn {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
  }

  /* Order for delivery */

s.navbar {
  font-size: 25px !important;
  background-color: goldenrod !important;
  z-index: 100;
}

.landingtext {
  left: 0;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: black;
}

.landingtext > h1 {
  font-size: 3vw;
  font-weight: bold;
  color: black;

}

.mycard {
  font-size: 20px;
  padding: 5px 5px;
 background-color:black;
 background-image: url(images/logoo1.jpeg);
}

.mybtn {
  padding: 20px 20px;
  color: black;
}

.myform {
  padding: 16px 20px;
  color: white;
}

/* Contact us */

.contacts {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 52vh;
  background-image: url("./images/wood.jpeg");
  color: white;
}
.contacts h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}
.form-control {
  color: #ffffff;
  font-size: 16px;
  text-decoration-color: white;
  text-decoration: white;
}
#text {
  width: 20%;
  height: 160px;
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  top: 2em;
  left: 3em;
  display: none;
  color: white;
  font-size: 30px;
}

#Name,
#Email,
#Message {
  color: white;
  background-color: #ffffff;
}
input,
textarea {
  color: white;
}

#placeholder {
  color: white;
}



/* Form */


#form {

  }
  
  #form h1 {
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-right: 300;
  }
  .form {
    background-color: black;
    opacity: 0.6;
    padding: 2em 1em;
    height: 80em;
    padding: 3em 2em;
  
  .form h3 {
    color: red;
  }
  .form p {
    color: white;
    font-size: 2em;
  }
  .form button {
    background-color: red;
    font-size: 3em;
  }
  .iframe {
    padding: 1em 1em;
    height: 60em;
    background-color: white;
    background-position: center;
  }
  .iframe iframe {
    height: 40em;
    padding-bottom: 50px;
  }
  
  .p{
    font-size: 100px;
    font-weight: bolder;
  }

  /* Footer */

  .bottom {
    background-color:#00264d;
    font-size: 20px;
  }
  footer{
    padding:0.5rem;  
  }
  footer p{
    text-align:center;
  }
  #socialmedia {
    text-align: center;
  }
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
